[Unit]
Description=Time-based automatic theme change

[Service]
Restart=on-failure
ExecStart=/home/lucas/repos/kde-autodark/.autodark.sh

[Install]
WantedBy=default.target
